*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{

  min-height: 100vh;
  font-family: Roboto;
}

body{

  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, black, gray);
  color: aliceblue;

}   



